h1{
    color: red;

}


p{
    color: seashell;
    font-size: xx-large;
    font-weight: bolder;

}


#button{
    color: springgreen;
    background-color: black;
    font-size: 35px;
    border-radius: 5px;
}
